In [46]:
#!pip install -r /requirements.txt

In [47]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql import Row

mongodb_spark_jars_path='../jar_files'
input_file_path='../data/vehicle_collision_data.csv'

In [48]:
# spark=SparkSession.builder.config("spark.mongodb.input.uri","mongodb://localhost:27017/test").config("spark.mongodb.output.uri","mongodb://localhost:27017/mydb.spotify").config("spark.mongodb.input.uri","mongodb://localhost:27017/test.employee").config("spark.mongodb.output.uri","mongodb://localhost:27017/test.employee").config("spark.jars", ""+mongodb_spark_jars_path+"\\mongo-spark-connector_2.12-3.0.1.jar,"+mongodb_spark_jars_path+"\\bson-4.9.0.jar,"+mongodb_spark_jars_path+"\\mongodb-driver-core-4.0.5.jar,"+mongodb_spark_jars_path+"\\mongodb-driver-sync-4.0.5.jar").getOrCreate()



# test3
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("merged").config("spark.jars", "../jars/").config("spark.driver.memory", "8g").config("spark.executor.memory", "8g").getOrCreate()

# from pyspark.sql import SparkSession

# spark = SparkSession.builder \
#     .appName("MyApp") \
#     .config("spark.driver.memory", "8g") \
#     .config("spark.executor.memory", "8g") \
#     .getOrCreate()


spark

In [49]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, TimestampType, FloatType
from datetime import datetime
from pyspark.sql.types import * 
schema=StructType([     StructField("crash_date",StringType(),True), 
                        StructField("crash_time",StringType(),True),
                        StructField("borough",StringType(),True),
                        StructField("zip_code",IntegerType(),True), 
                        StructField("latitude",IntegerType(),True), 
                        StructField("longitude",IntegerType(),True), 
                        StructField("location",StringType(),True),
                        StructField("street_name",StringType(),True),
                        StructField("cross_street_name",StringType(),True),
                        StructField("off_street_name",StringType(),True),
                        StructField("number_of_people_injured",IntegerType(),True), 
                        StructField("number_of_people_killed",IntegerType(),True), 
                        StructField("number_of_pedestrians_injured",IntegerType(),True),
                        StructField("number_of_pedestrians_killed",IntegerType(),True), 
                        StructField("number_of_cyclist_injured",IntegerType(),True), 
                        StructField("number_of_cyclist_killed",IntegerType(),True), 
                        StructField("number_of_motorist_injured",IntegerType(),True),
                        StructField("number_of_motorist_killed",IntegerType(),True), 
                        StructField("contributing_factor_vehicle_1",StringType(),True), 
                        StructField("contributing_factor_vehicle_2",StringType(),True), 
                        StructField("contributing_factor_vehicle_3",StringType(),True),
                        StructField("contributing_factor_vehicle_4",StringType(),True),
                        StructField("contributing_factor_vehicle_5",StringType(),True),
                        StructField("collision_id",IntegerType(),True),
                        StructField("vehicle_type_code_1",StringType(),True), 
                        StructField("vehicle_type_code_2",StringType(),True), 
                        StructField("vehicle_type_code_3",StringType(),True),
                        StructField("vehicle_type_code_4",StringType(),True), 
                        StructField("vehicle_type_code_5",StringType(),True) 
                
                    ])

In [50]:
crash = spark.read.option("header", "true").schema(schema).csv(input_file_path)

In [51]:
crash.printSchema()

root
 |-- crash_date: string (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- latitude: integer (nullable = true)
 |-- longitude: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- street_name: string (nullable = true)
 |-- cross_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- number_of_people_injured: integer (nullable = true)
 |-- number_of_people_killed: integer (nullable = true)
 |-- number_of_pedestrians_injured: integer (nullable = true)
 |-- number_of_pedestrians_killed: integer (nullable = true)
 |-- number_of_cyclist_injured: integer (nullable = true)
 |-- number_of_cyclist_killed: integer (nullable = true)
 |-- number_of_motorist_injured: integer (nullable = true)
 |-- number_of_motorist_killed: integer (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- contributing_factor_vehicle_3: string (nullable = true)
 |-- contributing_factor_vehicle_4: string (nullable = true)
 |-- contributing_factor_vehicle_5: string (nullable = true)
 |-- collision_id: integer (nullable = true)
 |-- vehicle_type_code_1: string (nullable = true)
 |-- vehicle_type_code_2: string (nullable = true)
 |-- vehicle_type_code_3: string (nullable = true)
 |-- vehicle_type_code_4: string (nullable = true)
 |-- vehicle_type_code_5: string (nullable = true)

In [52]:
from pyspark.sql.functions import *
from pyspark.sql.functions import concat, lit, col
crash = crash.withColumn('hour', split(crash['crash_time'], ':').getItem(0)).select( "*",concat(col("crash_date"),lit(" "),col("hour"),lit(":00")).alias("crash_date_time"))

crash.show(10)

+----------+----------+---------+--------+--------+---------+--------------------+--------------------+-----------------+--------------------+------------------------+-----------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+--------------------+-------------------+-------------------+-------------------+----+----------------+
|crash_date|crash_time|  borough|zip_code|latitude|longitude|            location|         street_name|cross_street_name|     off_street_name|number_of_people_injured|number_of_people_killed|number_of_pedestrians_injured|number_of_pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|collision_id|vehicle_type_code_1| vehicle_type_code_2|vehicle_type_code_3|vehicle_type_code_4|vehicle_type_code_5|hour| crash_date_time|
+----------+----------+---------+--------+--------+---------+--------------------+--------------------+-----------------+--------------------+------------------------+-----------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+--------------------+-------------------+-------------------+-------------------+----+----------------+
|09/11/2021|      2:39|     null|    null|    null|     null|                null|WHITESTONE EXPRES...|        20 AVENUE|                null|                       2|                      0|                            0|                           0|                        0|                       0|                         2|                        0|         Aggressive Drivin...|                  Unspecified|                         null|                         null|                         null|     4455765|              Sedan|               Sedan|               null|               null|               null|   2| 09/11/2021 2:00|
|03/26/2022|     11:45|     null|    null|    null|     null|                null|QUEENSBORO BRIDGE...|             null|                null|                       1|                      0|                            0|                           0|                        0|                       0|                         1|                        0|            Pavement Slippery|                         null|                         null|                         null|                         null|     4513547|              Sedan|                null|               null|               null|               null|  11|03/26/2022 11:00|
|06/29/2022|      6:55|     null|    null|    null|     null|                null|  THROGS NECK BRIDGE|             null|                null|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                         null|                         null|                         null|     4541903|              Sedan|       Pick-up Truck|               null|               null|               null|   6| 06/29/2022 6:00|
|09/11/2021|      9:35| BROOKLYN|   11208|    null|     null|(40.667202, -73.8...|                null|             null|1211      LORING ...|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|                         null|                         null|                         null|     4456314|              Sedan|                null|               null|               null|               null|   9| 09/11/2021 9:00|
|12/14/2021|      8:13| BROOKLYN|   11233|    null|     null|(40.683304, -73.9...|     SARATOGA AVENUE|   DECATUR STREET|                null|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|                         null|                         null|                         null|                         null|                         null|     4486609|               null|                null|               null|               null|               null|   8| 12/14/2021 8:00|
|04/14/2021|     12:47|     null|    null|    null|     null|                null|MAJOR DEEGAN EXPR...|             null|                null|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         null|                         null|                         null|     4407458|               Dump|               Sedan|               null|               null|               null|  12|04/14/2021 12:00|
|12/14/2021|     17:05|     null|    null|    null|     null|(40.709183, -73.9...|BROOKLYN QUEENS E...|             null|                null|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         null|                         null|                         null|     4486555|              Sedan|Tractor Truck Diesel|               null|               null|               null|  17|12/14/2021 17:00|
|12/14/2021|      8:17|    BRONX|   10475|    null|     null|(40.86816, -73.83...|                null|             null|344       BAYCHES...|                       2|                      0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|                         null|                         null|                         null|     4486660|              Sedan|               Sedan|               null|               null|               null|   8| 12/14/2021 8:00|
|12/14/2021|     21:10| BROOKLYN|   11207|    null|     null|(40.67172, -73.8971)|                null|             null|2047      PITKIN ...|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         null|                         null|                         null|     4487074|              Sedan|                null|               null|               null|               null|  21|12/14/2021 21:00|
|12/14/2021|     14:58|MANHATTAN|   10017|    null|     null|(40.75144, -73.97...|            3 AVENUE|   EAST 43 STREET|                null|                       0|                      0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         null|                         null|                         null|     4486519|              Sedan|Station Wagon/Spo...|               null|               null|               null|  14|12/14/2021 14:00|
+----------+----------+---------+--------+--------+---------+--------------------+--------------------+-----------------+--------------------+------------------------+-----------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+--------------------+-------------------+-------------------+-------------------+----+----------------+
only showing top 10 rows

In [53]:
crash.printSchema()

root
 |-- crash_date: string (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- latitude: integer (nullable = true)
 |-- longitude: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- street_name: string (nullable = true)
 |-- cross_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- number_of_people_injured: integer (nullable = true)
 |-- number_of_people_killed: integer (nullable = true)
 |-- number_of_pedestrians_injured: integer (nullable = true)
 |-- number_of_pedestrians_killed: integer (nullable = true)
 |-- number_of_cyclist_injured: integer (nullable = true)
 |-- number_of_cyclist_killed: integer (nullable = true)
 |-- number_of_motorist_injured: integer (nullable = true)
 |-- number_of_motorist_killed: integer (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- contributing_factor_vehicle_3: string (nullable = true)
 |-- contributing_factor_vehicle_4: string (nullable = true)
 |-- contributing_factor_vehicle_5: string (nullable = true)
 |-- collision_id: integer (nullable = true)
 |-- vehicle_type_code_1: string (nullable = true)
 |-- vehicle_type_code_2: string (nullable = true)
 |-- vehicle_type_code_3: string (nullable = true)
 |-- vehicle_type_code_4: string (nullable = true)
 |-- vehicle_type_code_5: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- crash_date_time: string (nullable = true)

In [54]:
crash = crash.drop('hour')

In [55]:
crash.printSchema()

root
 |-- crash_date: string (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- latitude: integer (nullable = true)
 |-- longitude: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- street_name: string (nullable = true)
 |-- cross_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- number_of_people_injured: integer (nullable = true)
 |-- number_of_people_killed: integer (nullable = true)
 |-- number_of_pedestrians_injured: integer (nullable = true)
 |-- number_of_pedestrians_killed: integer (nullable = true)
 |-- number_of_cyclist_injured: integer (nullable = true)
 |-- number_of_cyclist_killed: integer (nullable = true)
 |-- number_of_motorist_injured: integer (nullable = true)
 |-- number_of_motorist_killed: integer (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- contributing_factor_vehicle_3: string (nullable = true)
 |-- contributing_factor_vehicle_4: string (nullable = true)
 |-- contributing_factor_vehicle_5: string (nullable = true)
 |-- collision_id: integer (nullable = true)
 |-- vehicle_type_code_1: string (nullable = true)
 |-- vehicle_type_code_2: string (nullable = true)
 |-- vehicle_type_code_3: string (nullable = true)
 |-- vehicle_type_code_4: string (nullable = true)
 |-- vehicle_type_code_5: string (nullable = true)
 |-- crash_date_time: string (nullable = true)

In [56]:
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql import Row

In [57]:
#loading weather data

weather_data =spark.read.csv(r'../data/weather_scraping.csv',inferSchema=True, header=True).toDF('date','timestamp','time_of_day','temperature','condition','pressure','dew_point','humidity','visibility_in_miles',
                                                                                          'wind_chill_temp','wdir_cardinal','wind_gust','wind_speed','maximum_temp','minimum_temp','precipitation_rate','snow_rate')

In [58]:
weather_data = weather_data.where(weather_data.condition!='0')

In [59]:
weather_data.printSchema()

root
 |-- date: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- time_of_day: string (nullable = true)
 |-- temperature: integer (nullable = true)
 |-- condition: string (nullable = true)
 |-- pressure: string (nullable = true)
 |-- dew_point: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- visibility_in_miles: double (nullable = true)
 |-- wind_chill_temp: integer (nullable = true)
 |-- wdir_cardinal: string (nullable = true)
 |-- wind_gust: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- maximum_temp: integer (nullable = true)
 |-- minimum_temp: integer (nullable = true)
 |-- precipitation_rate: double (nullable = true)
 |-- snow_rate: integer (nullable = true)

In [60]:
from pyspark.sql.functions import concat, lit, col
weather_data = weather_data.withColumn("hour", F.hour(F.col("timestamp")))

weather_data.show(1)
# we get hour column here

+---------+-------------------+-----------+-----------+-------------+--------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+
|     date|          timestamp|time_of_day|temperature|    condition|pressure|dew_point|humidity|visibility_in_miles|wind_chill_temp|wdir_cardinal|wind_gust|wind_speed|maximum_temp|minimum_temp|precipitation_rate|snow_rate|hour|
+---------+-------------------+-----------+-----------+-------------+--------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+
|3/16/2016|2023-03-14 10:21:00|          N|         50|Mostly Cloudy|    null|       46|      86|               10.0|             50|            E|     null|         3|          57|          45|               0.0|     null|  10|
+---------+-------------------+-----------+-----------+-------------+--------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+
only showing top 1 row

In [61]:
# # we format date column because it has 00:00:00 as timestamp value, which is not usefull for us
# # also format date as mm/dd/yyyy to match with crash dataset
# weather = weather_data.withColumn("date", F.date_format("date", "MM/dd/yyyy"))
# weather.show(1)

In [62]:
#weather_details = weather.select( "*",concat(col("date"),lit(" "),col("hour"),lit(":00")).alias("weather_date_time"))
weather_details = weather_data.select( "*",concat(col("date"),lit(" "),col("hour"),lit(":00")).alias("weather_date_time"))
weather_details.show(3)

+---------+-------------------+-----------+-----------+-------------+---------------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+-----------------+
|     date|          timestamp|time_of_day|temperature|    condition|       pressure|dew_point|humidity|visibility_in_miles|wind_chill_temp|wdir_cardinal|wind_gust|wind_speed|maximum_temp|minimum_temp|precipitation_rate|snow_rate|hour|weather_date_time|
+---------+-------------------+-----------+-----------+-------------+---------------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+-----------------+
|3/16/2016|2023-03-14 10:21:00|          N|         50|Mostly Cloudy|           null|       46|      86|               10.0|             50|            E|     null|         3|          57|          45|               0.0|     null|  10|  3/16/2016 10:00|
|3/16/2016|2023-03-14 11:21:00|          N|         47|         Fair|Falling Rapidly|       43|      86|               10.0|             47|           SW|     null|         3|        null|        null|               0.0|     null|  11|  3/16/2016 11:00|
|3/16/2016|2023-03-14 12:21:00|          N|         46|         Fair|           null|       42|      86|               10.0|             44|          ENE|     null|         5|        null|        null|               0.0|     null|  12|  3/16/2016 12:00|
+---------+-------------------+-----------+-----------+-------------+---------------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+-----------------+
only showing top 3 rows

In [63]:
weather_details.show(1)

+---------+-------------------+-----------+-----------+-------------+--------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+-----------------+
|     date|          timestamp|time_of_day|temperature|    condition|pressure|dew_point|humidity|visibility_in_miles|wind_chill_temp|wdir_cardinal|wind_gust|wind_speed|maximum_temp|minimum_temp|precipitation_rate|snow_rate|hour|weather_date_time|
+---------+-------------------+-----------+-----------+-------------+--------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+-----------------+
|3/16/2016|2023-03-14 10:21:00|          N|         50|Mostly Cloudy|    null|       46|      86|               10.0|             50|            E|     null|         3|          57|          45|               0.0|     null|  10|  3/16/2016 10:00|
+---------+-------------------+-----------+-----------+-------------+--------+---------+--------+-------------------+---------------+-------------+---------+----------+------------+------------+------------------+---------+----+-----------------+
only showing top 1 row

## **merge datasets on common date_time column**

In [64]:
merged_data = crash.join(weather_details, crash["crash_date_time"] == weather_details["weather_date_time"])

In [65]:
merged_data.show()

Py4JJavaError: An error occurred while calling o190.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 19.0 failed 1 times, most recent failure: Lost task 0.0 in stage 19.0 (TID 54) (192.168.3.40 executor driver): TaskResultLost (result lost from block manager)
Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2238)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2259)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2278)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.sql.execution.SparkPlan.executeCollectIterator(SparkPlan.scala:431)
	at org.apache.spark.sql.execution.exchange.BroadcastExchangeExec.$anonfun$relationFuture$1(BroadcastExchangeExec.scala:137)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$1(SQLExecution.scala:191)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:317)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1589)

In [ ]:
merged_data.printSchema()

In [ ]:
merged_data.columns

In [ ]:
merged_data.show()

## **push data to mongodb**

In [ ]:
#!pip install pymongo

In [ ]:
import pymongo
from pyspark.sql import SparkSession
from pymongo import MongoClient
from pyspark.sql.functions import to_json
import json

#p = input("Enter password > project ")

# connecting to mongo cluster
#client  = pymongo.MongoClient(f'mongodb+srv://nainesh:{p}@bengaluru.yjkgoeu.mongodb.net/?retryWrites=true&w=majority')

    
# db = client['crash_weather']
# collection = db['merged_data']

# creating a list of dictionaries and save into 'data' variable

data = [row.asDict() for row in merged_data.collect()] 

#collection.insert_many(data)

In [ ]:
print(data[0:2])